# Default values for infra-stage-4.
authNamespace: teknoir-auth

keycloak:
  enabled: true
  fullnameOverride: keycloak
  command:
    - "/opt/keycloak/bin/kc.sh"
  args:
    - "start"
    - "--http-enabled=true"
    - "--http-port=8080"
    - "--hostname-strict=false"
  service:
    httpPort: 80
  extraEnv: |
    - name: KEYCLOAK_ADMIN
      value: admin
    - name: KEYCLOAK_ADMIN_PASSWORD
      value: change-me
    - name: KC_HOSTNAME
      value: auth.teknoir.online

oauth2Proxy:
  enabled: true
  namespace: teknoir-system
  secret:
    existingName: "oauth2-proxy-secret"
  image:
    repository: quay.io/oauth2-proxy/oauth2-proxy
    tag: v7.6.0
  oidc:
    issuerUrl: https://auth.teknoir.online/realms/teknoir
    clientId: teknoir-online
  cookie:
    domain: .teknoir.online
  redirectUrl: https://teknoir.online/oauth2/callback
  emailDomains:
    - "*"
  service:
    port: 4180

istio:
  gateway:
    name: teknoir-gateway
    namespace: istio-system
    selector:
      istio: ingressgateway
  auth:
    jwksIssuer: https://auth.teknoir.online/realms/teknoir
