# Default values for infra-stage-4.
authNamespace: teknoir-auth

keycloak:
  enabled: true
  fullnameOverride: keycloak
  service:
    name: keycloak-http
    httpPort: 80
  db:
    enabled: true
    name: keycloak-db
    port: 5432
    database: keycloak
    secretName: keycloak-db-secret
    storage:
      size: 5Gi
      hostPath: /opt/teknoir/keycloak/pg
  command:
    - "/opt/keycloak/bin/kc.sh"
  args:
    - "start"
    - "--http-enabled=true"
    - "--http-port=8080"
    - "--hostname-strict=false"
  extraEnv: |
    - name: KC_BOOTSTRAP_ADMIN_USERNAME
      value: admin
    - name: KC_BOOTSTRAP_ADMIN_PASSWORD
      value: change-me
    - name: KC_HOSTNAME
      value: auth.teknoir.online
    - name: KC_HOSTNAME_URL
      value: https://auth.teknoir.online
    - name: KC_PROXY_HEADERS
      value: xforwarded
    - name: KC_HTTP_RELATIVE_PATH
      value: /auth
    - name: KC_DB
      value: postgres
    - name: KC_DB_URL_HOST
      value: keycloak-db
    - name: KC_DB_URL_PORT
      value: "5432"
    - name: KC_DB_URL_DATABASE
      value: keycloak
    - name: KC_DB_USERNAME
      valueFrom:
        secretKeyRef:
          name: keycloak-db-secret
          key: username
    - name: KC_DB_PASSWORD
      valueFrom:
        secretKeyRef:
          name: keycloak-db-secret
          key: password

oauth2Proxy:
  enabled: true
  namespace: teknoir-system
  secret:
    existingName: "oauth2-proxy-secret"
  image:
    repository: quay.io/oauth2-proxy/oauth2-proxy
    tag: v7.6.0
  oidc:
    issuerUrl: https://auth.teknoir.online/auth/realms/master
    clientId: teknoir-online
  cookie:
    domain: .teknoir.online
    sameSite: none
    path: /
    csrfPerRequest: false
    csrfExpire: 10m
  redirectUrl: https://teknoir.online/oauth2/callback
  whitelistDomains:
    - .teknoir.online
  authHosts:
    - "teknoir.online"
    - "*.teknoir.online"
  sharedHost: "teknoir.online"
  emailDomains:
    - "*"
  provider: keycloak-oidc
  pkceMethod: S256
  extraAudiences:
    - master-realm
    - account
  allowedRoles: []
  allowedGroups: []
  passAccessToken: true
  sessionCookieMinimal: false
  reverseProxy: true
  redis:
    enabled: true
    host: oauth2-proxy-redis
    port: 6379
    database: 0
    secretName: oauth2-proxy-redis-secret
    passwordKey: password
    storage:
      size: 1Gi
      hostPath: /opt/teknoir/oauth2-proxy/redis
  service:
    port: 4180

istio:
  gateway:
    name: teknoir-gateway
    namespace: istio-system
    selector:
      istio: ingressgateway
  auth:
    jwksIssuer: https://auth.teknoir.online/auth/realms/master
    jwksUri: https://auth.teknoir.online/auth/realms/master/protocol/openid-connect/certs
    httpbin:
      enabled: true
      namespace: teknoir-system
      selector:
        app: httpbin
  mtls:
    enabled: true
