# Default values for infra-stage-4.
authNamespace: teknoir-auth

keycloak:
  enabled: true
  fullnameOverride: keycloak
  service:
    name: keycloak-http
    httpPort: 80
  command:
    - "/opt/keycloak/bin/kc.sh"
  args:
    - "start"
    - "--http-enabled=true"
    - "--http-port=8080"
    - "--hostname-strict=false"
  extraEnv: |
    - name: KC_BOOTSTRAP_ADMIN_USERNAME
      value: admin
    - name: KC_BOOTSTRAP_ADMIN_PASSWORD
      value: change-me
    - name: KC_HOSTNAME
      value: auth.teknoir.online
    - name: KC_HOSTNAME_URL
      value: https://auth.teknoir.online
    - name: KC_PROXY_HEADERS
      value: xforwarded
    - name: KC_HTTP_RELATIVE_PATH
      value: /auth

oauth2Proxy:
  enabled: true
  namespace: teknoir-system
  secret:
    existingName: "oauth2-proxy-secret"
  image:
    repository: quay.io/oauth2-proxy/oauth2-proxy
    tag: v7.6.0
  oidc:
    issuerUrl: https://auth.teknoir.online/auth/realms/master
    clientId: teknoir-online
  cookie:
    domain: .teknoir.online
  redirectUrl: https://teknoir.online/oauth2/callback
  whitelistDomains:
    - .teknoir.online
  authHosts:
    - "teknoir.online"
    - "*.teknoir.online"
  sharedHost: "teknoir.online"
  emailDomains:
    - "*"
  provider: keycloak-oidc
  pkceMethod: S256
  allowedRoles: []
  allowedGroups: []
  passAccessToken: true
  service:
    port: 4180

istio:
  gateway:
    name: teknoir-gateway
    namespace: istio-system
    selector:
      istio: ingressgateway
  auth:
    jwksIssuer: https://auth.teknoir.online/auth/realms/master
    jwksUri: https://auth.teknoir.online/auth/realms/master/protocol/openid-connect/certs
    httpbin:
      enabled: true
      namespace: teknoir-system
      selector:
        app: httpbin
  mtls:
    enabled: true
