{{- if .Values.gateway.enabled -}}
apiVersion: networking.istio.io/v1beta1
kind: Gateway
metadata:
  name: {{ .Values.gateway.name }}
  namespace: {{ .Values.gateway.namespace }}
spec:
  selector:
{{- toYaml .Values.gateway.selector | nindent 4 }}
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
{{- range .Values.gateway.hosts }}
    - {{ . | quote }}
{{- end }}
{{- if .Values.gateway.httpsRedirect }}
    tls:
      httpsRedirect: true
{{- end }}
{{- if .Values.gateway.tls.enabled }}
  - port:
      number: 443
      name: https
      protocol: HTTPS
    hosts:
{{- range .Values.gateway.hosts }}
    - {{ . | quote }}
{{- end }}
    tls:
      mode: SIMPLE
      credentialName: {{ .Values.gateway.tls.credentialName | quote }}
{{- end }}
{{- end -}}
